@charset "UTF-8";

/* グラフ領域のサイズ */
#c3_pie{
  height: 200px;
}
#c3_hist{
  height: 200px;
}
#mynetwork {
    height: 700px;
    width: 98%;
    border: 1px solid lightgray;
}

/* 全体のレイアウト */
.c_contents{
    display:flex;
    justify-content: space-between;
}
.c_kakuritsu{
    width: 48%;
}
.c_keizu{
    width: 48%;
}

@media (max-width: 700px){
    .c_contents{
        flex-direction: column;
    }
    .c_kakuritsu{
        width: 95%;
    }
    .c_keizu{
        width: 95%;
    }
}

/**/
.c_label{
    text-align: right;
}
.c_input{
    text-align: left;
}
